<a href="http://www.facebook.com/share.php?u={{absUrl}}" target="_blank" class="social-icon" ng-show="inShareableNetworks('Facebook')">
  <img ng-src="{{facebookImage}}" alt="Share on Facebook" ng-show="facebookImage">
  <i class="icon-facebook-sign" alt="Share on Facebook" ng-hide="facebookImage"></i>
</a>
<a href="https://twitter.com/intent/tweet?original_referer={{absUrl}}&amp;url={{absUrl}}&amp;source=tweetbutton" target="_blank" class="social-icon" ng-show="inShareableNetworks('Twitter')">
  <img ng-src="{{twitterImage}}" class="hs-image-widget " alt="Share on Twitter" ng-show="twitterImage">
  <i class="icon-twitter-sign" alt="Share on Twitter" ng-hide="twitterImage"></i>
</a>
